<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/tasks">TaskSystem</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tasks" Match="NavLinkMatch.All">
                <span class="bi bi-checklist-nav-menu" aria-hidden="true"></span> Tasks
            </NavLink>
            <div class="nav-item ps-4 py-0">
                <NavLink class="nav-link" href="task">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Create Task
                </NavLink>
            </div>
        </div>
    </nav>
</div>